/* estilos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family:sans-serif;
}
/* body */
body{
    max-height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
} 
/* header */
header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#5f4242;
    padding: 1rem 12rem ;
    position: absolute;
    top: 0;
}
/* nav */
nav{
    display: flex;
    justify-content: flex-end;
    gap:2rem;
} 
a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #d1c3c3;
}
img{
    width: 100%;
}

main{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    padding: 5rem 1rem;
    
    background-color:bisque;
    border-radius: 8px;
    
}
.hero{
    width: 35%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem ;
    gap: 1rem;
}
section>h2{
    font-size:3rem ;
    line-height: 1.2;
}
section> p{
    font-size: 1rem;
    text-align: justify;
}
section> a{
    display:inline-block;
    color: #5f4242;
    border:4px solid #d1c3c3;
    padding:.75rem .5rem;
    border-radius: 20px;
    align-self: flex-start;
}    
.image{
    width:500px;
    flex-shrink: 0;
    object-fit: contain;
    padding: 2rem;
}
.about{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;
}
.about p{
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.2;
}